#section2{
    .divSection2{
        background-image: url(../fotos_cidades/image2.jpg);
        height:66vh;
        h2{
            text-align:center;
        }
    }
    .div2Section2{
        background-color: $cor1;
    }
}