#section4{
    .divSection4{
        height:100vh;
        background-image: url(../fotos_cidades/image1.jpg);
        background-position:0 -121px;
        h1{
            padding:22px;
            background-color: $cor2;
            padding:18px;
        }
    }
}